body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: #ccc;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}



main .container{
    display: flex;
    margin: 50px auto;
}


.player .infos {
    display: flex;
    gap: 20px;
    align-items: center;
}
.player .infos .player_nick {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}
.player .infos .classe {
    margin: 0;
    color: #8f8f8f;
}
.player .infos img {
    height: 100px;
}

.player .xp_bar {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #76c2ce;
    font-weight: bold;
    position: relative;
}
.player .xp_bar .xp_outside {
    height: 20px;
    width: 100%;
    background-color: #ccc;
}

.player .xp_bar .xp_inside {
    height: 20px;
    width: 100%;
    background-color: #76c2ce;
    position: absolute;
    width: 35%;
}

.player .coins_points {
    display: flex;
    gap: 20px;
}

.player .coins_points .design {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}
.player .coins_points .design p{
    margin: 0;
}

.tasks {
    width: 100%;
    border-left: 2px solid #ccc;
    margin-left: 25px; 
}

.list_tasks {
    margin: 0;
    padding-left: 20px;
}

.list_tasks .task {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.list_tasks .task .infos {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-left: 5px solid #9b002e;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.list_tasks .task .infos .start {
    display: flex;
    gap: 10px;
}

.list_tasks .task .recompensas_task {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #76c2ce;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.icons_req {
    display: flex;
    gap: 5px;
}

.btn_add {
     padding: 12px 25px;
     border-radius: 5px;
     background-color: #9b002e;
     border: none;
     color: #ffffff;
     font-weight: bold;
     transition: transform .1s linear;
}

.btn_add:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.new_task {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.new_task .new_task_form {
    background-color: white;
    width: 500px;
    height: 300px;
    padding: 20px;
}

